*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
object{
    margin:0 auto;
    display: block;
}
#praCon{
    position: absolute;
}
#window{
    position: relative;
    overflow: hidden
}
.c{
    position: absolute;
}
.btn{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 22px;
    right: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 999;
}
.b1{
    background-image:url('imgs/btn1.png'); 
}
.b2{
    background-image:url('imgs/btn2.png');
}
.b3{
    width: 0;height: 0;
}